/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define AS(keycode) &as LS(keycode) keycode     // Autoshift Macro
/ {
    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            #binding-cells = <2>;
            tapping_term_ms = <135>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

  {
        keymap {
                compatible = "zmk,keymap";

                base {

                        bindings = <

&none AS(Q)             AS(W)          AS(F)          AS(P)          AS(B)          /**/  AS(J)          AS(L)          AS(U)          AS(Y)          AS(SQT)        &none
&none AS(A)             AS(R)          AS(S)          AS(T)          AS(G)          /**/  AS(M)          AS(N)          AS(E)          AS(I)          AS(O)          &none
&none AS(X)             AS(C)          AS(D)          AS(V)          AS(Z)          /**/  AS(K)          AS(H)          &kp COMMA      &kp DOT        &kp SLASH      &none
                                       &kp ESC        &kp SPACE      &kp TAB        /**/  &kp RET        &kp BSPC       &kp DEL

                        >;
                };

                num {

                        bindings = <

&none &mt CARET TILDE   &kp N7         &kp N8         &kp N9         &kp N0         /**/  &kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &none
&none &mt PIPE PRCNT    &kp N4         &kp N5         &kp N6         &kp DOT        /**/  &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &trans         &none
&none &mt AMPS HASH     &kp N1         &kp N2         &kp N3         &kp COMMA      /**/  &trans         &trans         &trans         &trans         &trans         &none
                                       &kp LGUI       &trans         &kp SPACE      /**/  &kp RET        &trans         &kp RALT
                        
                        >;
                };

                blu_layer {

                        bindings = <
                        
&none &kp N1            &kp N2         &kp N3         &kp N4         &kp N5         /**/  &kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &none
&none &bt BT_SEL 0      &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   /**/  &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &trans         &none
&none &trans            &trans         &trans         &trans         &trans         /**/  &trans         &trans         &trans         &trans         &trans         &none
                                             &kp LGUI       &trans         &kp SPACE      /**/  &kp RET        &trans         &kp RALT
                        >;
                };

        };
};
