/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                alp_layer {

                        bindings = <

&none          &kp Q          &kp W          &kp F          &kp P          &kp B          /**/  &kp J          &kp L          &kp U          &kp Y          &kp SQT        &none
&none          &kp A          &kp R          &kp S          &kp T          &kp G          /**/  &kp M          &kp N          &kp E          &kp I          &kp O          &none
&none          &kp X          &kp C          &kp D          &kp V          &kp Z          /**/  &kp K          &kp H          &kp COMMA      &kp DOT        &kp SLASH      &none
                                             &kp ESC        &kp SPACE      &kp TAB        /**/  &kp RET        &kp BSPC       &kp DEL

                        >;
                };
                blu_layer {

                        bindings = <
                        
&none          &kp N1         &kp N2         &kp N3         &kp N4         &kp N5         /**/  &kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &none
&none          &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   /**/  &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &trans         &none
&none          &trans         &trans         &trans         &trans         &trans         /**/  &trans         &trans         &trans         &trans         &trans         &none
                                             &kp LGUI       &trans         &kp SPACE      /**/  &kp RET        &trans         &kp RALT
                        >;
                };

                num_layer {

                        bindings = <

&none          &kp N1         &kp N2         &kp N3         &kp N4         &kp N5         /**/  &kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &none
&none          &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   /**/  &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &trans         &none
&none          &trans         &trans         &trans         &trans         &trans         /**/  &trans         &trans         &trans         &trans         &trans         &none
                                             &kp LGUI       &trans         &kp SPACE      /**/  &kp RET        &trans         &kp RALT
                        
                        >;
                };
        };
};
